<section class="post-comments">

	{% if site.comment.gitalk %}
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  	<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>
    	var gitalk = new Gitalk({
			clientID: '{{ site.comment.gitalk.clientID }}',
			clientSecret: '{{ site.comment.gitalk.clientSecret }}',
			repo: '{{ site.comment.gitalk.repo }}',
			owner: '{{ site.comment.gitalk.owner }}',
			admin: ['{{ site.comment.gitalk.admin }}'],
			id: location.pathname,      // Ensure uniqueness and length less than 50
			distractionFreeMode: false  // Facebook-like distraction free mode
		})
		gitalk.render('gitalk-container')
    </script>
  {% endif %}

</section>
